/* Numero 0 */
svg .seg-1.num-0 {
  fill: #262a34;
}
svg .seg-1.num-0.success {
  fill: #32bf00;
}
svg .seg-1.num-0.error {
  fill: #cc3300;
}
svg .seg-2.num-0 {
  fill: #262a34;
}
svg .seg-2.num-0.success {
  fill: #32bf00;
}
svg .seg-2.num-0.error {
  fill: #cc3300;
}
svg .seg-3.num-0 {
  fill: #262a34;
}
svg .seg-3.num-0.success {
  fill: #32bf00;
}
svg .seg-3.num-0.error {
  fill: #cc3300;
}
svg .seg-4.num-0 {
  fill: #262a34;
}
svg .seg-4.num-0.success {
  fill: #32bf00;
}
svg .seg-4.num-0.error {
  fill: #cc3300;
}
svg .seg-5.num-0 {
  fill: #262a34;
}
svg .seg-5.num-0.success {
  fill: #32bf00;
}
svg .seg-5.num-0.error {
  fill: #cc3300;
}
svg .seg-6.num-0 {
  fill: #262a34;
}
svg .seg-6.num-0.success {
  fill: #32bf00;
}
svg .seg-6.num-0.error {
  fill: #cc3300;
}
svg .seg-7.num-0 {
  fill: #dddddd;
}

/* Numero 1 */

svg .seg-1.num-1 {
  fill: #dddddd;
}
svg .seg-2.num-1 {
  fill: #dddddd;
}
svg .seg-3.num-1 {
  fill: #262a34;
}
svg .seg-3.num-1.success {
  fill: #32bf00;
}
svg .seg-4.num-1 {
  fill: #dddddd;
}
svg .seg-5.num-1 {
  fill: #dddddd;
}
svg .seg-6.num-1 {
  fill: #262a34;
}
svg .seg-6.num-1.success {
  fill: #32bf00;
}
svg .seg-7.num-1 {
  fill: #dddddd;
}

/* Numero 2 */

svg .seg-1.num-2 {
  fill: #262a34;
}
svg .seg-1.num-2.success {
  fill: #32bf00;
}
svg .seg-1.num-2.error {
  fill: #cc3300;
}
svg .seg-2.num-2 {
  fill: #dddddd;
}
svg .seg-3.num-2 {
  fill: #262a34;
}
svg .seg-3.num-2.success {
  fill: #32bf00;
}
svg .seg-3.num-2.error {
  fill: #cc3300;
}
svg .seg-4.num-2 {
  fill: #262a34;
}
svg .seg-4.num-2.success {
  fill: #32bf00;
}
svg .seg-4.num-2.error {
  fill: #cc3300;
}
svg .seg-5.num-2 {
  fill: #262a34;
}
svg .seg-5.num-2.success {
  fill: #32bf00;
}
svg .seg-5.num-2.error {
  fill: #cc3300;
}
svg .seg-6.num-2 {
  fill: #dddddd;
}
svg .seg-7.num-2 {
  fill: #262a34;
}
svg .seg-7.num-2.success {
  fill: #32bf00;
}
svg .seg-7.num-2.error {
  fill: #cc3300;
}

/* Numero 3 */

svg .seg-1.num-3 {
  fill: #262a34;
}
svg .seg-1.num-3.success {
  fill: #32bf00;
}
svg .seg-2.num-3 {
  fill: #dddddd;
}
svg .seg-3.num-3 {
  fill: #262a34;
}
svg .seg-3.num-3.success {
  fill: #32bf00;
}
svg .seg-4.num-3 {
  fill: #262a34;
}
svg .seg-4.num-3.success {
  fill: #32bf00;
}
svg .seg-5.num-3 {
  fill: #dddddd;
}
svg .seg-6.num-3 {
  fill: #262a34;
}
svg .seg-6.num-3.success {
  fill: #32bf00;
}
svg .seg-7.num-3 {
  fill: #262a34;
}
svg .seg-7.num-3.success {
  fill: #32bf00;
}

/* Numero 4 */

svg .seg-1.num-4 {
  fill: #dddddd;
}
svg .seg-2.num-4 {
  fill: #262a34;
}
svg .seg-2.num-4.success {
  fill: #32bf00;
}
svg .seg-3.num-4 {
  fill: #262a34;
}
svg .seg-3.num-4.success {
  fill: #32bf00;
}
svg .seg-4.num-4 {
  fill: #dddddd;
}
svg .seg-5.num-4 {
  fill: #dddddd;
}
svg .seg-6.num-4 {
  fill: #262a34;
}
svg .seg-6.num-4.success {
  fill: #32bf00;
}
svg .seg-7.num-4 {
  fill: #262a34;
}
svg .seg-7.num-4.success {
  fill: #32bf00;
}

/* Numero 5 */

svg .seg-1.num-5 {
  fill: #262a34;
}
svg .seg-1.num-5.success {
  fill: #32bf00;
}
svg .seg-1.num-5.error {
  fill: #cc3300;
}
svg .seg-2.num-5 {
  fill: #262a34;
}
svg .seg-2.num-5.success {
  fill: #32bf00;
}
svg .seg-2.num-5.error {
  fill: #cc3300;
}
svg .seg-3.num-5 {
  fill: #dddddd;
}
svg .seg-4.num-5 {
  fill: #262a34;
}
svg .seg-4.num-5.success {
  fill: #32bf00;
}
svg .seg-4.num-5.error {
  fill: #cc3300;
}
svg .seg-5.num-5 {
  fill: #dddddd;
}
svg .seg-6.num-5 {
  fill: #262a34;
}
svg .seg-6.num-5.success {
  fill: #32bf00;
}
svg .seg-6.num-5.error {
  fill: #cc3300;
}
svg .seg-7.num-5 {
  fill: #262a34;
}
svg .seg-7.num-5.success {
  fill: #32bf00;
}
svg .seg-7.num-5.error {
  fill: #cc3300;
}

/* Numero 6 */

svg .seg-1.num-6 {
  fill: #262a34;
}
svg .seg-1.num-6.success {
  fill: #32bf00;
}
svg .seg-2.num-6 {
  fill: #262a34;
}
svg .seg-2.num-6.success {
  fill: #32bf00;
}
svg .seg-3.num-6 {
  fill: #dddddd;
}
svg .seg-4.num-6 {
  fill: #262a34;
}
svg .seg-4.num-6.success {
  fill: #32bf00;
}
svg .seg-5.num-6 {
  fill: #262a34;
}
svg .seg-5.num-6.success {
  fill: #32bf00;
}
svg .seg-6.num-6 {
  fill: #262a34;
}
svg .seg-6.num-6.success {
  fill: #32bf00;
}
svg .seg-7.num-6 {
  fill: #262a34;
}
svg .seg-7.num-6.success {
  fill: #32bf00;
}

/* Numero 7 */

svg .seg-1.num-7 {
  fill: #262a34;
}
svg .seg-1.num-7.success {
  fill: #32bf00;
}
svg .seg-2.num-7 {
  fill: #dddddd;
}
svg .seg-3.num-7 {
  fill: #262a34;
}
svg .seg-3.num-7.success {
  fill: #32bf00;
}
svg .seg-4.num-7 {
  fill: #dddddd;
}
svg .seg-5.num-7 {
  fill: #dddddd;
}
svg .seg-6.num-7 {
  fill: #262a34;
}
svg .seg-6.num-7.success {
  fill: #32bf00;
}
svg .seg-7.num-7 {
  fill: #dddddd;
}

/* Numero 8 */

svg .seg-1.num-8 {
  fill: #262a34;
}
svg .seg-1.num-8.success {
  fill: #32bf00;
}
svg .seg-2.num-8 {
  fill: #262a34;
}
svg .seg-2.num-8.success {
  fill: #32bf00;
}
svg .seg-3.num-8 {
  fill: #262a34;
}
svg .seg-3.num-8.success {
  fill: #32bf00;
}
svg .seg-4.num-8 {
  fill: #262a34;
}
svg .seg-4.num-8.success {
  fill: #32bf00;
}
svg .seg-5.num-8 {
  fill: #262a34;
}
svg .seg-5.num-8.success {
  fill: #32bf00;
}
svg .seg-6.num-8 {
  fill: #262a34;
}
svg .seg-6.num-8.success {
  fill: #32bf00;
}
svg .seg-7.num-8 {
  fill: #262a34;
}
svg .seg-7.num-8.success {
  fill: #32bf00;
}

/* Numero 9 */

svg .seg-1.num-9 {
  fill: #262a34;
}
svg .seg-1.num-9.success {
  fill: #32bf00;
}
svg .seg-2.num-9 {
  fill: #262a34;
}
svg .seg-2.num-9.success {
  fill: #32bf00;
}
svg .seg-3.num-9 {
  fill: #262a34;
}
svg .seg-3.num-9.success {
  fill: #32bf00;
}
svg .seg-4.num-9 {
  fill: #262a34;
}
svg .seg-4.num-9.success {
  fill: #32bf00;
}
svg .seg-5.num-9 {
  fill: #dddddd;
}
svg .seg-6.num-9 {
  fill: #262a34;
}
svg .seg-6.num-9.success {
  fill: #32bf00;
}
svg .seg-7.num-9 {
  fill: #262a34;
}
svg .seg-7.num-9.success {
  fill: #32bf00;
}
